@media only screen and (min-width: 900px) {
.imgBox{
    height: auto;
    min-height: 500px;
    /* overflow-y: auto; */
    /* box-flex: 1; */
    position: relative;
    /* width: 100%; */
    width: 800px;
    /* top: 30%; */
    right: 50%;
    left: 50%;
    /* height: 570px; */
    margin-top: 4em; /*set to a negative number 1/2 of your height*/
    margin-left: -400px; /*set to a negative number 1/2 of your width */
    margin-right: -400px;
    margin-bottom: 5em;
    border-radius: 8px;
    border: 1px solid #dadce0;
    transition: delay 0.5s;
    transition: width 1s;
}
.img{
    margin-left: 5%;
    margin-right: 5%;
}
.innerImg{
    display: inline-block;
    display: flex;
}
}

@media only screen and (max-width: 900px) {
    .imgBox{
        /* box-flex: 1; */
        position: relative;
        width: 498px;
        height: auto;
        min-height: 500px;
        /* top: 30%; */
        right: 50%;
        left: 50%;
        /* height: 570px; */
        margin-top: 4em; /*set to a negative number 1/2 of your height*/
        margin-left: -246px; /*set to a negative number 1/2 of your width  */
        /* margin-right: 25em;*/
        margin-bottom: 5em;
        border-radius: 8px;
        border: 1px solid #dadce0;
        transition: width 0.5s;
    }
    .img{
        margin-left: 5%;
        margin-right: 5%;
        display: none;
        transition: delay 2s;
        transition: width 1s;
    }
    }
.outerBox {
  box-flex: 1;
  padding: 48px 40px 36px;
  /* width: 450px;
  top: 30%;
  left: 50%;
  height: 570px;
  margin-top: 4em; 
  margin-left: 25em; 
  margin-right: 25em;
  margin-bottom: 5em;
  border-radius: 8px;
  border: 1px solid #dadce0; */
  /* background-color: #f3f3f3; */
}

.fundooNotesRainbow {
  background-image: linear-gradient(
    to left,
    green,
    rgb(9, 136, 209),
    yellow,
    red,
    rgb(20, 137, 214)
  );
  font-weight: bold;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.createAccountDiv {
  padding-top: 16px;
}

.createAccount {
  color: #494a4d;
  padding-bottom: 0;
  font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3333;
  margin-bottom: 0;
  margin-top: 0;
}

.inputBox {
  padding: 24px 0 0;
  width: 430px;
}

.firstAndLast {
  display: inline-block;
  display: flex;
}

.firstName {
  width: 214.5px;
  margin-right: 10px;
}

.lastName {
  width: 214.5px;
  margin-left: 10px;
}

.emailId {
  padding-top: 24px;
}

.password {
  display: inline-block;
  display: flex;
}

.firstPassword {
  width: 214.5px;
  margin-top: 24px;
  margin-left: 0;
  margin-right: 10px;
}

.confirm {
  margin-top: 24px;
  width: 214.5px;
  margin-left: 10px;
  margin-right: 0;
}

.passwordInfo {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  text-align: left;
  margin-top: 4px;
  margin-right: 14px;
  margin-bottom: 0;
  margin-left: 14px;
}

.showPasswordMsg {
  font-size: 14px;
}

.signInSignUp {
  display: inline-block;
  display: flex;
}

.signIn {
  font-weight: bold;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #1a73e8;
  margin-top: 48px;
  margin-left: 0;
  margin-right: auto;
  padding: 6px 0;
}

.signUp {
  /* width: 214.5px; */
  margin-top: 48px;
  margin-left: auto;
  margin-right: 0;
}
